# --------------------------
# Node Dependencies
# --------------------------
node_modules/

# --------------------------
# Environment
# --------------------------
.env
*.env

# --------------------------
# CSV / Large Data Files
# --------------------------
*.csv
*.tsv
*.xlsx

# --------------------------
# Python Cache
# --------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------
# Virtual Envs
# --------------------------
env/
venv/
.venv/

# --------------------------
# Logs
# --------------------------
*.log
